streamlit==1.45.1

langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.59
langchain-huggingface==0.2.0
langchain-text-splitters==0.3.8

chromadb==0.5.23

sentence-transformers==4.1.0

huggingface_hub==0.31.2

youtube-transcript-api==1.1.0
yt-dlp==2025.5.22

google-api-python-client==2.169.0

python-dotenv==1.1.0

protobuf==5.29.4
grpcio==1.71.0
grpcio-tools==1.71.0