streamlit
langchain
langchain-huggingface
langchain-community
langchain-text-splitters
chromadb
youtube-transcript-api
yt-dlp
sentence-transformers
google-api-python-client
python-dotenv
huggingface_hub